html {
    color: #222;
    font-size: 1em;
    height:100%;
    line-height: 1.4;
}

body {height:100%}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#header h2 {color: whitesmoke}
#header, #footer {
    background: black;
    opacity: .88;
    height: 60px;
}

#main {
    background-size: cover;
    height: 100%;
    margin: 50px 0;
}
#main .container {
    background: ghostwhite;
    box-sizing: border-box;
    height: 100%;
    opacity: .88;
}

#carousel {
    height: 300px;
    overflow: visible !important;
}

.card {
    width: 180px;
    height: 180px;
    padding: 12px;
    text-align: center;
    background-color: rgba(18, 16, 16, .35);
    border: 2px white solid;
    border-radius: 12px;
    cursor: pointer;
}
.card img {
    width: 140px;
}

.card p {
    margin-top: 5px;
}
.card a {
    color: whitesmoke;
    text-decoration: none;
}

.info-cont {
    margin-top: 20px;
    height: 40px;
    background-color: #8c8c8c;
    color: whitesmoke;
    opacity: .7;
    vertical-align: middle;
    text-align: center;
    border: 2px white solid;
    border-radius: 12px;
}
.info {
    margin-top: 5px;
}

.carousel-big {
    //border: 10px solid white;
    display: inline-block;
    position: absolute;
    transform-origin: 0px 0px 0px;
    z-index: 94;
    transform: scale(2);
    width: 200px;
    height: 200px;
    transition: width .4s cubic-bezier(0.1, 0.8, 0.5, 2), height .4s cubic-bezier(0.1, 0.8, 0.5, 2);
}

.mdc-button {
    background-color: #777 !important;
}

.menu {
    width: 100%;
    height: auto;
    stroke-linecap: round;
    stroke-linejoin: round;
    max-width: 792px;
    max-height: 100%;
}

@media screen and (min-width: 512px) {

    .menu {
        max-width: 65vw;
        max-height: 65vh;
    }
}

.main-menu { cursor: pointer; }

.main-menu circle { transition: opacity 250ms; }

.main-menu circle:hover { opacity: 1; }

.main-menu.is-active > circle { opacity: 1; }
[class$="-button"] {
    cursor: pointer;
}

[class$="-button"] circle {
    opacity: 0;
    transition: opacity 250ms;
}

[class$="-button"] circle:hover { opacity: 0.6; }

[class$="-button"] path { pointer-events: none; }

#footer .container {
    height: auto;
    padding: 50px 0;
}
#footer a {color: white}


/* Media */
/* Small Devices, Tablets */
@media only screen and (max-width : 1280px){
    #main {height:458px;}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 988px){

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 490px) {
    .info {width: 100%}
    #header h2 {font-size: 20px}
    .info p {font-size: 12px}
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}